html{
  background-color: #c0a172;
}
/*Set all fonts to this color*/
p,header,span{
  color:#112A46;
}
.header{
  border: solid blue 3px;
}
/*Ensure 'Hero Image' takes width of screen*/
.hero{
  width: 100%;
}
#heroImage{
  width: 100%;
  height: auto;
}
.line{
  border: solid blue 1px;
}
.pageHeader{
  background-color: #9DAA78;
  border:5px solid;
  border-radius:10px;
  font-family: 'PT Mono', monospace;
  text-align: center;
  font-size: 1.5em;
}
.pageDescription{
  font-size: 1em;
}
main{
  border: solid orange 4px;
}
.eventContainer{
  border: solid yellow 4px;
}
.eventImage{
  width: 100%;
  height: auto%;
}
.eventDetails{
  text-align: center;
}
.eventContainer{
  border:5px solid;
  border-radius:10px;
  font-family: 'PT Mono', monospace;
}
#event1{
   background-color: #d29d00;
}
#event2{
   background-color: #5F9CBA;
}
#event3{
  background-color: #9AB8ED;
}
#event4{
  background-color: #F77FD6;
}
.eventLinkButton{
  border: 3px solid grey;
  border-radius: 3px;
  width: 40%;
  height: 40px;
}
.eventLinkButton:hover{
  background-color:#9DAA78;
}
/*Tablet*/
@media screen and (min-width: 762px) and (max-width: 1000px ){
  .hero{
    height: 60vh;
    width: 100%;
  }
  #heroImage{
    max-height: 100%;
  }
  main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .eventContainer{
    width: 45%;
    display: grid;
    grid-template-rows: 2fr 1fr;
  }
  .eventImage{
    grid-row: 1;
    max-height: 100%;
  }
  .eventDetails{
    /*puts div at bottom of parent container*/
    grid-row: 2;
  }
  .eventDetails header{
    font-size: 28px;
  }
  .eventDetails p {
    font-size: 20px;
  }
}
/*Desktop */
@media screen and (min-width: 1000px) {
  .hero{
    height: 80vh;
    width: 100%;
  }
  #heroImage{
    max-height: 100%;
  }
  main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .eventContainer{
    width: 45%;
    display: grid;
    grid-template-rows: 2fr 1fr;
  }
  .eventImage{
    grid-row: 1;
    }
  .eventDetails{
    /*puts div at bottom of parent container*/
    grid-row: 2;
  }
  .eventDetails header{
    font-size: 28px;
  }
  .eventDetails p {
    font-size: 20px;
  }
  .eventLinkButton{
    font-size: 20px;;
  }
  .eventComplete{
    background-color: #32CD32;
  }
}
